.container {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0,0,0,0.5) !important;
    padding: 20px;
    backdrop-filter: blur(5px); /* Apply the blur effect */
    box-shadow: 0 0 20px rgba(34, 41, 236, 0.8), /* Neon glow */
                0 0 30px rgba(0, 200, 255, 0.6), 
                0 0 40px rgba(0, 200, 255, 0.4);

}

label{
    color: white;
}
.card-header {
    color: white;
}
